---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog"
---

<BaseLayout>
    <h1>{pageTitle}</h1>
    <p>This is where I will post about my journey learning Astro.</p>

    <!-- TODO: add button that will generate a new post for me -->
    <!-- TODO: update template for posts -->
    <ul>
        <!-- {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
